{% extends "layouts/base.njk" %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};
  }

  .hero {
    background: {{ heroBgColor }} url({{ heroImg }}); 
    }
</style>
{% endblock %}

{% block hero %}
  <div class="hero two-columns">
    {% include "components/owner.njk" %}

    <heading class="cta">
      <h1 class="pad-top" >{{ heroText }}</h1>
    </heading>
  </div>
{% endblock %}

