{% extends "layouts/base.njk" %}
  {% block meta %}
    <meta name="description" content="About Dr. Shari Richard. Learn about the services she offers, her approach to chiropractic care as well as her experience and training.  Call 252-497-5910 today.">
  {% endblock %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};
  }
</style>
{% endblock %}

{% block hero %}
  <div class="hero two-columns">
    {% include "components/owner.njk" %}

    <header class="cta">
      <h1 class="pad-top" >{{ heroText }}</h1>
    </header>
  </div>
{% endblock %}

