<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ title }}: Inner Banks Chiropractic</title>
  {% block meta %}
    <meta name="description" content="Dr. Shari Richard is a chiropractor proudly serving Oriental NC &amp; Pamlico County. She is committed to providing the highest quality chiropractic care to her patients. Please call 252-497-5910 today.">
    <meta name="google-site-verification" content="yDnUiQLJP_A9Jprm02k3JP-Lxydv1Yp4C0hUK7FzxKA" />
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" as="font" href="/fonts/subset-Forum.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/subset-Forum.woff" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/AvenirLTStd-Light.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/AvenirLTStd-Light.woff" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/AvenirLTStd-Roman.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="/fonts/AvenirLTStd-Roman.woff" type="font/woff2" crossorigin="anonymous">

  {% block customstyles %}

  {% endblock %}

  <style>{% include "css/site.css" %}</style>
</head>

<body>
  <div class="wrapper">
    {% include "components/branding.njk" %}
    {% include "components/navbar.njk" %}

    {% block hero %}

    {% endblock %}

    {% block mobileHeading%}

    {% endblock %}

    <article class="{{ articleClass }}">
      {{ content |  safe }}
    </article>

    {% include "components/footer.njk" %}

  </div>

  <script>
    const currentNavItem = document.querySelector('#nav-{{ pageId }}');
    if (currentNavItem) { 
      currentNavItem.classList.add('alpha-50'); 
    }

    const menuBtn = document.querySelector(".menu-icon");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = () => {
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = () => {
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#000";
    }
    searchBtn.onclick = () => {
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }

    
  </script>

  {% block moreScript %}

  {% endblock %}


<style>
  @keyframes fadeInFromBottom {
  0% {
    transform: translateY(0.7em);
    opacity:0;
  }

  50% {
    transform: translateY(0.7em);
    opacity:0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header.cta
 {
  animation: 0.7s ease-out 0s 1 fadeInFromBottom;
}

@keyframes fadeIn {
  0% { opacity:0;}
  100% { opacity: 1;}
}

header.owner {
  animation: 0.5s ease-out 0s 1 fadeIn;
}
</style>
</body>

</html>


