{% extends "layouts/base.njk" %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};
  }

  .hero {
    background: #{{ heroBgColor }} url({{ heroImg }}); 
    }
</style>
{% endblock %}

{% block hero %}
  <div class="hero">
    {% include "components/owner.njk" %}

    <heading class="cta">
      <h1>{{ heroText }}</h1>
      <a class="button-link home-cta" href="#">BOOK  APPOINTMENT</a>
    </heading>
  </div>
{% endblock %}
