---
title: Inner Banks Chiropractic
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <style>
    body {
      background: url({{ bodyImg }});
      background-position: {{ bodyImgPosition }};
    }

  
  </style>
  <style>{% include "css/site.css" %}</style>
</head>

<body>
  <div class="wrapper">
    {% include "components/branding.njk" %}
    {% include "components/navbar.njk" %}

    <main>
      {{ content | safe }}
    </main>

    {% include "components/footer.njk" %}

  </div>

  <script src="/js/handlers.js"></script>
  
</body>

</html>


