{% extends "layouts/base.njk" %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};
  }

  .hero {
    background: {{ heroBgColor }} url({{ heroImg }}); 
    }

  .modal {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    border:solid 6px red;
    display:block;
    overflow:auto;
  }

  .modal-content {
    position: relative;
    margin: 3em;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding:2em;
    border: solid 1px #ccc;
    background:#fff;

  }
  form>header {
    grid-column: 1 / -1;
    display:flex;
    background:#ddd;
  }

  input[type=text], input[type=email], textarea {
    font-family: 'Avenir LT Std', montserrat, sans-serif;
    border: solid 1px #ccc;
    padding:0.5em;
    font-size:1.3em;
    width:100%;
  }

  form>* {
    grid-column: 1 /-1;
  }

  form>.first {
    grid-column: 1;
  }

  form>.last {
    grid-column: 2;
  }

  form>.title {
    font-size: 1.5em;
  }

  form>p{
    margin:0;
    padding:0
  }

  form>p.center {
    text-align: center;
  }

  .modal.closed {
    display:none;
  }

  .no-scroll {
    overflow: hidden;
  }



</style>
{% endblock %}

{% block hero %}
  <div class="hero center-heading">
    {% include "components/owner.njk" %}

    <div class="cta text-to-top">
      <h1>{{ heroText }}</h1>
    </div>
      
  </div>
{% endblock %}


{% block moreScript %}
const modal = document.querySelector(".modal");
const modalContent = document.querySelector(".modal-content");
const closeButton = document.querySelector(".modal-close-button");
const openButton = document.querySelector(".modal-open-button");
const body = document.querySelector("body");

closeButton.onclick = () => {
  closeModal();
}

modal.addEventListener("click", function(event) {
  if (event.currentTarget !== event.target) {
    return;
  }
  closeModal();
});

openButton.onclick = () => {
  modal.classList.toggle("closed");
  modalContent.classList.toggle("closed");
  body.classList.toggle("no-scroll");
}

function closeModal() {
  modal.classList.toggle("closed");
  modalContent.classList.toggle("closed");
  body.classList.toggle("no-scroll");
}


{% endblock %}


