
{% extends "layouts/base.njk" %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};

  }

</style>
{% endblock %}

{% block hero %}
  <div class="hero">
    {% include "components/owner.njk" %}

    <header class="cta">
      <h1>{{ heroText }}</h1>
    </header>
      
  </div>
{% endblock %}
