
{% extends "layouts/base.njk" %}
{% block customstyles %}
<style>
  body {
    background: url({{ bodyImg }});
    background-position: {{ bodyImgPosition }};
  }

  .hero {
    background: {{ heroBgColor }} url({{ heroImg }}); 
    }
</style>
{% endblock %}

{% block hero %}
  <div class="hero">
    {% include "components/owner.njk" %}

    <div class="cta">
      <h1>{{ heroText }}</h1>
    </div>
      
  </div>
{% endblock %}
