---
title:  Inner Banks Chiropractic
layout: base.njk
---
{# <div class="container">
  <h1>Home</h1>
  <div class="vibe">{{ vibe }}</div>
  <div class="love">:)</div>
</div>
<script src="/js/vibe.js"></script> #}