    <div class="footer-wrapper">
    <footer>
        <address>
          <div>Inner Banks Chiropractic</div>
          <div>711 Broad Street</div>
          <div>Oriental, NC 28571</div>
          <div>(252) 497-5910 </div>
        </address>
        <p class="byline">Designed & developed in North Carolina by Steven Loe </p>
        <a class="colophon" href="/credits/">Credits</a>
    </footer>
    </div>