<nav>
  <div class="cancel-icon">X</span></div>
  <div class="menu-icon"><div class="bad-attempt-at-menu-icon"></div></div>
  <div class="logo">Inner Banks Chiropractic</div>
  <div class="nav-items">
  
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/schedule/">Schedule</a>
    <a href="/new-patient-forms/">Forms</a>
    <a href="/contact/">Contact</a></li>
    <a href="/si-hablo-espanol/">Sí, hablo Español</a>

  </div>
  <div class="search-icon"></div>
</nav>