<nav>
  <div class="cancel-icon">X</span></div>
  <div class="menu-icon"><div class="bad-attempt-at-menu-icon"></div></div>
  <div class="logo">Inner Banks Chiropractic</div>
  <div class="nav-items">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/schedule/">Schedule</a></li>
    <li><a href="/new-patient-forms/">Forms</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/si-hablo-espanol/">Sí, hablo Español</a></li>
    </ul>
  </div>
  <div class="search-icon"></div>
</nav>