<nav>
  <div class="cancel-icon">X</span></div>
  <div class="menu-icon">M</span></div>
  <div class="logo">Inner Banks Chiropractic</div>
  <div class="nav-items">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/schedule/">Schedule</a></li>
    <li><a href="/new-patient-forms/">Forms</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/si-hablo-espanol/">Sí, hablo Español</a></li>
  </div>
  <div class="search-icon"><span class="fas fa-search"></span></div>
  
  <form action="#">
    <input type="search" class="search-data" placeholder="Search" required>
    <button type="submit" class="fas fa-search"></button>
  </form>
</nav>