@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Forum';
  src: url('../fonts/Forum.woff2') format('woff2'),
      url('../fonts/Forum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* html {
    width: 100vw;
    height: 100vh;
    background: blue url(images/home-layout-red.jpg);
    background-repeat: no-repeat;
  } */

h1, h2, h3, h4, h5 {
  font-family: Forum, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  color: black;
  margin: 0;
  letter-spacing: .19rem;
}

p {
  margin: 0.8em 0
}

.nav-items a, .hero a, .logo a {
  text-decoration: none;
}

body {
  font-family: 'Avenir LT Std', montserrat, sans-serif;
  font-size: 18px;
  letter-spacing: 0.015rem;
  orphans: 2;
  font-weight: 300;
  line-height: 1.6;
  color: #444;
  background-repeat: no-repeat;

  /* border: solid 2px red; */
}

.wrapper {
  margin: 1em 3.2em 0 3.2em;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(550px, 750px) minmax(100px, 1fr);
  grid-template-rows: auto auto auto auto auto;
  /* border: solid 2px lime; */
}

.top-branding {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
}

.top-branding img {
  height: 3.2em;
}

/* Hero begins */

.hero {
  grid-column: 1 / -1;
  grid-row: 3;
  display: grid;
  min-height: 200px;
  background-repeat: no-repeat; 
  background-size: contain;
  height: calc((100vw - 120px) * {{ heroImgHeight }});
  padding: 3% 5%;
  grid-gap: 7%;
  grid-template-columns: 1fr 1fr;
}

.owner {
  min-width: 0;
  width: 100%;
  grid-column: 1 / 1;
  font-size: 1.5em;
}

.owner * {
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.owner>.name {
  font-size: 30px;
  letter-spacing: .3px;
  font-weight: 100;
}

.owner>.title {
  margin-top: -15px;
  font-family: avenir;
  font-size: 15px;
  letter-spacing: 4.5px;
}

.cta {
  grid-column: 2 / -1;
  display: grid;
  justify-content: center;
  align-content: center;
  /* border:solid 1px orange; */
  padding-top: 1em;
}


.cta h1 {
  font-size: 2.8em;
  font-family: forum, serif;
  text-align: center;
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 0.01em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  line-height: 1.12;
}

.hero .button-link {
  display: flex;
  justify-self: center;
  margin-top: 1em;
  background: #000;
  font-size: 0.9em;
  padding: 0.6em 0.9em 0.6em 0.9em;
  letter-spacing: 0.23em;
  text-align: center;
  font-weight: 400;
  color: #fff;
  box-shadow: 3px 3px 1px rgba(30, 0, 0, 0.5);
}

.owner *, .headline {
  font-family: forum, serif;
}

.hero * {
  color: #fff;
}

/* Hero ends */

/* Navigation begins */

nav {
  grid-column: 1 / -1;
  grid-row: 2;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  z-index: 80;
}

nav .logo {
  display: none;
  font-family: forum, serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.02em
}

nav .nav-items {
  display: flex;
  flex: 1;
  /* padding: 0 0 0 40px; */
  justify-content: space-between;
  /* border: 1px solid #00f; */
}

nav .nav-items li {
  list-style: none;
  padding: 0;
}

nav .nav-items li a {
  color: #22495A;
  font-size: 1.1em;
  font-weight: 300;
}

nav .nav-items li a:hover {
  color: green;
  text-decoration: underline;
}
nav .nav-items li a:active {
  color: green;
  text-decoration: underline;
}

nav form {
  /* display: flex; */
  display: none;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}

nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav form button:hover {
  background: #e63600;
}

nav .menu-icon, nav .cancel-icon, nav .search-icon {
  width: 40px;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  align-self: center;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  display: none;
}

nav .menu-icon, nav .cancel-icon, nav .search-icon {
  display: none;
}

/* Navigation ends*/

/* Main begins */

main {
  grid-column: 2;
  grid-row: 4;
  padding-top: 1.5em;
  text-align: left;
}

main .alt-headline {
  display: none;
}

blockquote {
  margin: 1.5em 0;
  background: #DDE1D6;
  padding: 1em 1.5em;
  color: #222;
}

blockquote>p:first-of-type {
  margin-top: 0;
}

/* Main ends */

/*  Footer begins */

footer {
  border-top: solid 1px #ccc;
  margin-top: 2rem;
  grid-column: 2;
  grid-row: 5;
  text-align: center;
}

footer>address {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  font-style: normal;
}

address>div {
  margin: 6px 0 0 0;
}

footer>.byline {
  margin: 12px 0 0 0;
  padding-top: 1.6em;
  font-size: 0.9em;
  /* border-top: solid 1px #ccc; */
}

footer>.colophon {
  display: block;
  margin: 1.2em 0 3em 0;
  font-size: 12px;
  padding-bottom: 30px;
}

/* Footer ends */



/********************  begin media queries ********************/


@media (max-width: 960px) {
  body {
    /* background-color: palegoldenrod; */
  }
  footer {
    font-size: 0.9em;
  }
}

/* @media (max-width: 1140px) { */

@media (max-width: 900px) {
  body {
    /* background-color: lightskyblue; */
    background-size: 6em auto;
  }
  .wrapper {
    margin: 0;
    grid-template-columns: minmax(0px, 1fr) 5fr minmax(0px, 1fr);
  }
  footer {
    font-size: 1em;
  }
  /* Hero begins */
  .hero {
    margin-top: 45px;
    grid-row: 2;
    background-size: calc(100vw - 6.4em) auto;
    height: calc(100vw * {{ heroImgHeight }}); 
  }
  .content {
    grid-row: 3;
    z-index: -5;
  }
  .top-branding {
    display: none;
  }
  nav {
    grid-row: 1;
    padding: 0px;
    position: fixed;
    width: 100%;
  }
  nav .logo {
    flex: 2;
    text-align: center;
    display: block;
    color: #22495A;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 45px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: left 0.3s ease;
    overflow: scroll;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 3em 0;
  }
  nav .nav-items li a {
    font-size: 1.8em;
  }
  nav form {
    /* position: absolute; */
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    /* position: absolute; */
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    /* position: absolute; */
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  /* TODO: Put this line back to re-enable search */
  /* nav .search-icon, nav .menu-icon { */
  nav .menu-icon {
    display: block;
  }
  nav .menu-icon.hide, nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
  footer>address {
    flex-direction: column;
    font-size: 1em;
    line-height: 1.3em;
  }
}

@media (max-width: 750px) {
  body {
    /* background-color: lightpink; */
    background-size: 4em auto;
  }
  .wrapper {
    margin: 0;
    grid-template-columns: minmax(0px, 1fr) 14fr minmax(0px, 1fr);
  }
  .cta h1 {
    font-size: 2em;
  }
  .hero .button-link {
    font-size: 0.7em;
  }
  nav .menu-icon, nav .cancel-icon, nav .search-icon {
    /* margin: 0 20px; */
  }
  nav form {
    right: 30px;
  }
}

@media (max-width: 500px) {
  body {
    /* background-color: lightseagreen; */
    background-size: 3em auto;
  }
  nav .menu-icon, nav .cancel-icon, nav .search-icon {
    /* margin: 0 10px; */
    font-size: 16px;
  }
  nav .nav-items li {
    line-height: 1em;
    margin: 3em 0;
  }
  nav .nav-items li a {
    font-size: 1.7em;
  }
  nav .logo {
    font-size: 1.1em;
  }
  .hero {
    grid-template-rows: 1fr 3fr;
    padding: 0 5%;
  }
  .hero .cta {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: end;
    align-content: start;
    flex-direction: row;
  }
  .hero .owner {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  .owner .name {
    font-size: 1em;
  }
  .owner .title {
    font-size: 0.48em;
  }
  .cta h1 {
    display: none;
  }
  .cta {
    padding-left: 55%;
  }
  .button-link {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
  main {
    padding-top: 0.6em
  }
  main .alt-headline {
    display: block;
    letter-spacing: 0.05em;
  }
  main p:first-of-type {
    margin-top: 0.2em;
  }
  main h1:first-of-type {
    line-height: 1.2;
  }
}